In [1]:
import pandas as pd
import numpy as np

In [2]:
temps_data = pd.read_csv("Average Temperature of Cities.csv")

In [3]:
temps_data.describe()

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
count,451,451,451,451,451,451,451,451,451,451,451,451,451,451,451,451
unique,175,447,276,284,275,259,250,240,232,221,226,237,254,273,247,6
top,United States,St. John's,26.8\n(80.2),27\n(81),28\n(82),28\n(82),17.4\n(63.3),22.8\n(73.0),25.6\n(78.1),25.1\n(77.2),27\n(81),26.4\n(79.5),26\n(79),27.2\n(81.0),26\n(79),AFRICA
freq,52,2,9,8,7,6,6,7,7,7,8,7,9,7,8,109

In [5]:
temps_data

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
0,Algeria,Algiers,11.2\n(52.2),11.9\n(53.4),12.8\n(55.0),14.7\n(58.5),17.7\n(63.9),21.3\n(70.3),24.6\n(76.3),25.2\n(77.4),23.2\n(73.8),19.4\n(66.9),15.2\n(59.4),12.1\n(53.8),17.4\n(63.3),AFRICA
1,Algeria,Tamanrasset,12.8\n(55.0),15.0\n(59.0),18.1\n(64.6),22.2\n(72.0),26.1\n(79.0),28.9\n(84.0),28.7\n(83.7),28.2\n(82.8),26.5\n(79.7),22.4\n(72.3),17.3\n(63.1),13.9\n(57.0),21.7\n(71.1),AFRICA
2,Algeria,Reggane,16.0\n(60.8),18.2\n(64.8),23.1\n(73.6),27.9\n(82.2),32.2\n(90.0),36.4\n(97.5),39.8\n(103.6),38.4\n(101.1),35.5\n(95.9),29.2\n(84.6),22.0\n(71.6),17.8\n(64.0),28.3\n(82.9),AFRICA
3,Angola,Luanda,26.7\n(80.1),28.5\n(83.3),28.6\n(83.5),28.2\n(82.8),27.0\n(80.6),23.9\n(75.0),22.1\n(71.8),22.1\n(71.8),23.5\n(74.3),25.2\n(77.4),26.7\n(80.1),26.9\n(80.4),25.8\n(78.4),AFRICA
4,Benin,Cotonou,27.3\n(81.1),28.5\n(83.3),28.9\n(84.0),28.6\n(83.5),27.8\n(82.0),26.5\n(79.7),25.8\n(78.4),25.6\n(78.1),26.0\n(78.8),26.7\n(80.1),27.6\n(81.7),27.3\n(81.1),27.2\n(81.0),AFRICA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,Peru,Lima,22.1\n(71.8),22.7\n(72.9),22.2\n(72.0),20.6\n(69.1),18.8\n(65.8),17.5\n(63.5),16.7\n(62.1),16.2\n(61.2),16.4\n(61.5),17.3\n(63.1),18.7\n(65.7),20.7\n(69.3),19.2\n(66.6),South America
447,Peru,Piura,26.8\n(80.2),27.8\n(82.0),27.8\n(82.0),26.6\n(79.9),24.5\n(76.1),22.9\n(73.2),21.8\n(71.2),21.9\n(71.4),22.3\n(72.1),22.9\n(73.2),23.6\n(74.5),25.2\n(77.4),24.5\n(76.1),South America
448,Suriname,Paramaribo,26.0\n(78.8),26.0\n(78.8),26.2\n(79.2),26.7\n(80.1),26.5\n(79.7),26.5\n(79.7),26.7\n(80.1),27.4\n(81.3),27.8\n(82.0),27.9\n(82.2),27.3\n(81.1),26.4\n(79.5),26.8\n(80.2),South America
449,Uruguay,Montevideo,23.0\n(73.4),22.5\n(72.5),20.6\n(69.1),17.2\n(63.0),14.0\n(57.2),11.1\n(52.0),10.9\n(51.6),11.7\n(53.1),13.4\n(56.1),16.0\n(60.8),18.6\n(65.5),21.3\n(70.3),16.7\n(62.1),South America
450,Venezuela,Caracas,20.2\n(68.4),20.8\n(69.4),21.7\n(71.1),22.7\n(72.9),23.2\n(73.8),22.6\n(72.7),22.2\n(72.0),22.3\n(72.1),22.7\n(72.9),22.4\n(72.3),22.0\n(71.6),20.7\n(69.3),22.0\n(71.6),South America

In [6]:
print(temps_data.head())

   Country         City           Jan           Feb           Mar  \
0  Algeria      Algiers  11.2\n(52.2)  11.9\n(53.4)  12.8\n(55.0)
1  Algeria  Tamanrasset  12.8\n(55.0)  15.0\n(59.0)  18.1\n(64.6)
2  Algeria      Reggane  16.0\n(60.8)  18.2\n(64.8)  23.1\n(73.6)
3   Angola       Luanda  26.7\n(80.1)  28.5\n(83.3)  28.6\n(83.5)
4    Benin      Cotonou  27.3\n(81.1)  28.5\n(83.3)  28.9\n(84.0)

            Apr           May           Jun            Jul            Aug  \
0  14.7\n(58.5)  17.7\n(63.9)  21.3\n(70.3)   24.6\n(76.3)   25.2\n(77.4)
1  22.2\n(72.0)  26.1\n(79.0)  28.9\n(84.0)   28.7\n(83.7)   28.2\n(82.8)
2  27.9\n(82.2)  32.2\n(90.0)  36.4\n(97.5)  39.8\n(103.6)  38.4\n(101.1)
3  28.2\n(82.8)  27.0\n(80.6)  23.9\n(75.0)   22.1\n(71.8)   22.1\n(71.8)
4  28.6\n(83.5)  27.8\n(82.0)  26.5\n(79.7)   25.8\n(78.4)   25.6\n(78.1)

            Sep           Oct           Nov           Dec          Year  \
0  23.2\n(73.8)  19.4\n(66.9)  15.2\n(59.4)  12.1\n(53.8)  17.4\n(63.3)
1  26.5\n(79.7)  22.4\n(72.3)  17.3\n(63.1)  13.9\n(57.0)  21.7\n(71.1)
2  35.5\n(95.9)  29.2\n(84.6)  22.0\n(71.6)  17.8\n(64.0)  28.3\n(82.9)
3  23.5\n(74.3)  25.2\n(77.4)  26.7\n(80.1)  26.9\n(80.4)  25.8\n(78.4)
4  26.0\n(78.8)  26.7\n(80.1)  27.6\n(81.7)  27.3\n(81.1)  27.2\n(81.0)

  Continent
0    AFRICA
1    AFRICA
2    AFRICA
3    AFRICA
4    AFRICA

In [7]:
print(temps_data.shape)

(451, 16)

In [8]:
missing_values_count = temps_data.isnull().sum()
print(missing_values_count[0:66])

Country      0
City         0
Jan          0
Feb          0
Mar          0
Apr          0
May          0
Jun          0
Jul          0
Aug          0
Sep          0
Oct          0
Nov          0
Dec          0
Year         0
Continent    0
dtype: int64

In [9]:
temps_data_dropped = temps_data.dropna()
print(temps_data.shape, temps_data_dropped.shape)

(451, 16) (451, 16)

In [10]:
temps_data_filled = temps_data.fillna(method='bfill', axis=0).fillna(0)
print(temps_data_filled)

       Country         City           Jan           Feb           Mar  \
0      Algeria      Algiers  11.2\n(52.2)  11.9\n(53.4)  12.8\n(55.0)
1      Algeria  Tamanrasset  12.8\n(55.0)  15.0\n(59.0)  18.1\n(64.6)
2      Algeria      Reggane  16.0\n(60.8)  18.2\n(64.8)  23.1\n(73.6)
3       Angola       Luanda  26.7\n(80.1)  28.5\n(83.3)  28.6\n(83.5)
4        Benin      Cotonou  27.3\n(81.1)  28.5\n(83.3)  28.9\n(84.0)
..         ...          ...           ...           ...           ...
446       Peru         Lima  22.1\n(71.8)  22.7\n(72.9)  22.2\n(72.0)
447       Peru        Piura  26.8\n(80.2)  27.8\n(82.0)  27.8\n(82.0)
448   Suriname   Paramaribo  26.0\n(78.8)  26.0\n(78.8)  26.2\n(79.2)
449    Uruguay   Montevideo  23.0\n(73.4)  22.5\n(72.5)  20.6\n(69.1)
450  Venezuela      Caracas  20.2\n(68.4)  20.8\n(69.4)  21.7\n(71.1)

              Apr           May           Jun            Jul            Aug  \
0    14.7\n(58.5)  17.7\n(63.9)  21.3\n(70.3)   24.6\n(76.3)   25.2\n(77.4)
1    22.2\n(72.0)  26.1\n(79.0)  28.9\n(84.0)   28.7\n(83.7)   28.2\n(82.8)
2    27.9\n(82.2)  32.2\n(90.0)  36.4\n(97.5)  39.8\n(103.6)  38.4\n(101.1)
3    28.2\n(82.8)  27.0\n(80.6)  23.9\n(75.0)   22.1\n(71.8)   22.1\n(71.8)
4    28.6\n(83.5)  27.8\n(82.0)  26.5\n(79.7)   25.8\n(78.4)   25.6\n(78.1)
..            ...           ...           ...            ...            ...
446  20.6\n(69.1)  18.8\n(65.8)  17.5\n(63.5)   16.7\n(62.1)   16.2\n(61.2)
447  26.6\n(79.9)  24.5\n(76.1)  22.9\n(73.2)   21.8\n(71.2)   21.9\n(71.4)
448  26.7\n(80.1)  26.5\n(79.7)  26.5\n(79.7)   26.7\n(80.1)   27.4\n(81.3)
449  17.2\n(63.0)  14.0\n(57.2)  11.1\n(52.0)   10.9\n(51.6)   11.7\n(53.1)
450  22.7\n(72.9)  23.2\n(73.8)  22.6\n(72.7)   22.2\n(72.0)   22.3\n(72.1)

              Sep           Oct           Nov           Dec          Year  \
0    23.2\n(73.8)  19.4\n(66.9)  15.2\n(59.4)  12.1\n(53.8)  17.4\n(63.3)
1    26.5\n(79.7)  22.4\n(72.3)  17.3\n(63.1)  13.9\n(57.0)  21.7\n(71.1)
2    35.5\n(95.9)  29.2\n(84.6)  22.0\n(71.6)  17.8\n(64.0)  28.3\n(82.9)
3    23.5\n(74.3)  25.2\n(77.4)  26.7\n(80.1)  26.9\n(80.4)  25.8\n(78.4)
4    26.0\n(78.8)  26.7\n(80.1)  27.6\n(81.7)  27.3\n(81.1)  27.2\n(81.0)
..            ...           ...           ...           ...           ...
446  16.4\n(61.5)  17.3\n(63.1)  18.7\n(65.7)  20.7\n(69.3)  19.2\n(66.6)
447  22.3\n(72.1)  22.9\n(73.2)  23.6\n(74.5)  25.2\n(77.4)  24.5\n(76.1)
448  27.8\n(82.0)  27.9\n(82.2)  27.3\n(81.1)  26.4\n(79.5)  26.8\n(80.2)
449  13.4\n(56.1)  16.0\n(60.8)  18.6\n(65.5)  21.3\n(70.3)  16.7\n(62.1)
450  22.7\n(72.9)  22.4\n(72.3)  22.0\n(71.6)  20.7\n(69.3)  22.0\n(71.6)

         Continent
0           AFRICA
1           AFRICA
2           AFRICA
3           AFRICA
4           AFRICA
..             ...
446  South America
447  South America
448  South America
449  South America
450  South America

[451 rows x 16 columns]

In [44]:
temps_data_europe = temps_data[(temps_data['Continent'] == 'Europe')]
temps_data_europe

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
201,Albania,Tirana,6.7\n(44.1),7.8\n(46.0),10.0\n(50.0),13.4\n(56.1),18.0\n(64.4),21.6\n(70.9),24.0\n(75.2),23.8\n(74.8),20.7\n(69.3),16.0\n(60.8),11.7\n(53.1),8.1\n(46.6),15.2\n(59.4),Europe
202,Andorra,Andorra la Vella,2.2\n(36.0),3.5\n(38.3),5.8\n(42.4),7.5\n(45.5),11.5\n(52.7),15.4\n(59.7),18.8\n(65.8),18.5\n(65.3),14.9\n(58.8),10.3\n(50.5),5.7\n(42.3),3.0\n(37.4),9.8\n(49.6),Europe
203,Austria,Vienna,0.3\n(32.5),1.5\n(34.7),5.7\n(42.3),10.7\n(51.3),15.7\n(60.3),18.7\n(65.7),20.8\n(69.4),20.2\n(68.4),15.4\n(59.7),10.2\n(50.4),5.1\n(41.2),1.1\n(34.0),10.4\n(50.7),Europe
204,Belarus,Minsk,-4.5\n(23.9),-4.4\n(24.1),0.0\n(32.0),7.2\n(45.0),13.3\n(55.9),16.4\n(61.5),18.5\n(65.3),17.5\n(63.5),12.1\n(53.8),6.6\n(43.9),0.6\n(33.1),-3.4\n(25.9),6.7\n(44.1),Europe
205,Belgium,Brussels,3.3\n(37.9),3.7\n(38.7),6.8\n(44.2),9.8\n(49.6),13.6\n(56.5),16.2\n(61.2),18.4\n(65.1),18.0\n(64.4),14.9\n(58.8),11.1\n(52.0),6.8\n(44.2),3.9\n(39.0),10.5\n(50.9),Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,Ukraine,Kiev,-3.5\n(25.7),-3.0\n(26.6),1.8\n(35.2),9.3\n(48.7),15.5\n(59.9),18.5\n(65.3),20.5\n(68.9),19.7\n(67.5),14.2\n(57.6),8.4\n(47.1),1.9\n(35.4),-2.3\n(27.9),8.4\n(47.1),Europe
267,Ukraine,Lviv,-3.1\n(26.4),-2.2\n(28.0),1.9\n(35.4),8.3\n(46.9),13.8\n(56.8),16.4\n(61.5),18.3\n(64.9),17.7\n(63.9),13.0\n(55.4),8.1\n(46.6),2.6\n(36.7),-1.8\n(28.8),7.8\n(46.0),Europe
268,Ukraine,Odessa,-0.5\n(31.1),-0.2\n(31.6),3.5\n(38.3),9.4\n(48.9),15.6\n(60.1),20.0\n(68.0),22.6\n(72.7),22.3\n(72.1),17.2\n(63.0),11.6\n(52.9),5.7\n(42.3),1.1\n(34.0),10.7\n(51.3),Europe
269,United Kingdom,Edinburgh,4.2\n(39.6),4.5\n(40.1),6.2\n(43.2),8.1\n(46.6),10.8\n(51.4),13.5\n(56.3),15.3\n(59.5),15.2\n(59.4),13.0\n(55.4),9.8\n(49.6),6.7\n(44.1),4.2\n(39.6),9.3\n(48.7),Europe
270,United Kingdom,London,4.3\n(39.7),4.5\n(40.1),6.9\n(44.4),8.7\n(47.7),12.1\n(53.8),15.1\n(59.2),17.3\n(63.1),17.0\n(62.6),14.3\n(57.7),10.9\n(51.6),7.2\n(45.0),4.7\n(40.5),10.3\n(50.5),Europe

In [45]:
city_year = temps_data_europe[['City','Year']].copy()
print(city_year)

                 City          Year
201            Tirana  15.2\n(59.4)
202  Andorra la Vella   9.8\n(49.6)
203            Vienna  10.4\n(50.7)
204             Minsk   6.7\n(44.1)
205          Brussels  10.5\n(50.9)
..                ...           ...
266              Kiev   8.4\n(47.1)
267              Lviv   7.8\n(46.0)
268            Odessa  10.7\n(51.3)
269         Edinburgh   9.3\n(48.7)
270            London  10.3\n(50.5)

[70 rows x 2 columns]

In [46]:
temps_data_europe = temps_data_europe.set_index('City')
temps_data_europe = temps_data_europe.drop('Year', axis=1)
temps_data_europe

,Country,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Continent
City,,,,,,,,,,,,,,
Tirana,Albania,6.7\n(44.1),7.8\n(46.0),10.0\n(50.0),13.4\n(56.1),18.0\n(64.4),21.6\n(70.9),24.0\n(75.2),23.8\n(74.8),20.7\n(69.3),16.0\n(60.8),11.7\n(53.1),8.1\n(46.6),Europe
Andorra la Vella,Andorra,2.2\n(36.0),3.5\n(38.3),5.8\n(42.4),7.5\n(45.5),11.5\n(52.7),15.4\n(59.7),18.8\n(65.8),18.5\n(65.3),14.9\n(58.8),10.3\n(50.5),5.7\n(42.3),3.0\n(37.4),Europe
Vienna,Austria,0.3\n(32.5),1.5\n(34.7),5.7\n(42.3),10.7\n(51.3),15.7\n(60.3),18.7\n(65.7),20.8\n(69.4),20.2\n(68.4),15.4\n(59.7),10.2\n(50.4),5.1\n(41.2),1.1\n(34.0),Europe
Minsk,Belarus,-4.5\n(23.9),-4.4\n(24.1),0.0\n(32.0),7.2\n(45.0),13.3\n(55.9),16.4\n(61.5),18.5\n(65.3),17.5\n(63.5),12.1\n(53.8),6.6\n(43.9),0.6\n(33.1),-3.4\n(25.9),Europe
Brussels,Belgium,3.3\n(37.9),3.7\n(38.7),6.8\n(44.2),9.8\n(49.6),13.6\n(56.5),16.2\n(61.2),18.4\n(65.1),18.0\n(64.4),14.9\n(58.8),11.1\n(52.0),6.8\n(44.2),3.9\n(39.0),Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kiev,Ukraine,-3.5\n(25.7),-3.0\n(26.6),1.8\n(35.2),9.3\n(48.7),15.5\n(59.9),18.5\n(65.3),20.5\n(68.9),19.7\n(67.5),14.2\n(57.6),8.4\n(47.1),1.9\n(35.4),-2.3\n(27.9),Europe
Lviv,Ukraine,-3.1\n(26.4),-2.2\n(28.0),1.9\n(35.4),8.3\n(46.9),13.8\n(56.8),16.4\n(61.5),18.3\n(64.9),17.7\n(63.9),13.0\n(55.4),8.1\n(46.6),2.6\n(36.7),-1.8\n(28.8),Europe
Odessa,Ukraine,-0.5\n(31.1),-0.2\n(31.6),3.5\n(38.3),9.4\n(48.9),15.6\n(60.1),20.0\n(68.0),22.6\n(72.7),22.3\n(72.1),17.2\n(63.0),11.6\n(52.9),5.7\n(42.3),1.1\n(34.0),Europe
Edinburgh,United Kingdom,4.2\n(39.6),4.5\n(40.1),6.2\n(43.2),8.1\n(46.6),10.8\n(51.4),13.5\n(56.3),15.3\n(59.5),15.2\n(59.4),13.0\n(55.4),9.8\n(49.6),6.7\n(44.1),4.2\n(39.6),Europe
London,United Kingdom,4.3\n(39.7),4.5\n(40.1),6.9\n(44.4),8.7\n(47.7),12.1\n(53.8),15.1\n(59.2),17.3\n(63.1),17.0\n(62.6),14.3\n(57.7),10.9\n(51.6),7.2\n(45.0),4.7\n(40.5),Europe